@import "tailwindcss";
@theme {
  --color-button-background: hsl(169, 82%, 27%);
  --color-main-background: hsl(148, 38%, 91%);
  --color-star-color: hsl(169, 82%, 27%);
  --color-radio-color: hsl(169, 82%, 27%);
}
